body {
    background-color: #fffff6;
}
.buy-content {
    overflow: hidden;
}

.panel-buy {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    background-color: white;
    flex-direction: column;
    z-index: 9999;
}

.content {
    width: 70%;
    float: left;
}

.get-order {
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
}

.get-order .pizza-amount {
    background-color: orange;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.get-order .clear-order {
    text-align: right;
    margin-left: auto;
}

.count {
    background-color: #f5f5f5;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 0;
}

.count .order {
    background-color: #f5f5f5;
    padding: 10px 0;
    position: relative;
}

.count .order::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.pay-order {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-info {
    display: flex;
    align-items: center;
}

.order-button {
    margin-top: 10px;
    text-align: center;
}

.pay-order span:first-child {
    margin-right: 35px;
}

.pay-order span:last-child {
    margin-left: 35px;
}

.pay-order button.buy-order {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    text-align: center;
    width: 100%;
}

.count .order .characteristics {
    display: flex;
    align-items: center;
}

.count .order .buttons {
    display: flex;
    align-items: center;
}

.count .order .buttons button {
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 5px;
}


.count .order .buttons .minus {
    background-color: red;
    color: white;
}

.count .order .buttons .plus {
    background-color: green;
    color: white;
}

.count .order .buttons .cancel {
    background-color: gray;
    color: orange;
}

.cart {
    position: fixed;
    display: flex;
    width: 75%;
    height: 15%;
    top: 0;
    background-color: #333331;
    z-index: 9998;
}

.badge {
    position: relative; /* Додаємо позицію relative для відносного позиціювання */
    background-color: #e4872c;
    width: 10%;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 0;
    border: 3px #b86115;
}

.badge::after {
    content: "";
    position: absolute; /* Використовуємо абсолютне позиціювання */
    bottom: -30px; /* Зміщуємо вниз на 20 пікселів */
    right: 0px; /* Заціплюємо до правого краю */
    background-image: url("assets/images/discount1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px; /* Задаємо висоту для видимості зображення */
    width: 149px; /* Задаємо ширину для видимості зображення */
}

.site-info {
    width: 90%;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.bottom-panel {
    text-align: left;
}

.sign-in {
    background-color: #f5970d;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sign-in:hover {
    background-color: darkorange;
}

.all {
    background-color: #fffff6;
    padding: 10px;
    margin: 150px auto 0; /* Змінено */
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-pizzas {
    display: flex;
    align-items: center;
}

.all-pizzas .pizza-amount {
    margin-left: 10px;
}

.pizza-amount {
    background-color: orange;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.types-pizza {
    background-color: #fffff6;
    padding: 10px;
    margin: 5px auto 0; /* Змінено */
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-pizzas-label {
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    margin-right: 10px;
}

.pizza-size-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

.thumbnail .pizza-size-wrapper1 {
    display: flex;
    align-items: center;
}

.pizza-price {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

.buttons-buy {
    display: flex;
    justify-content: space-between;
    margin: 0 27px;
}

.thumbnail .btn-primary,
.thumbnail .btn-default {
    background-color: #f5970d;
    color: white;
    border-radius: 3px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
}

.badge-discount {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.badge-rectangle {
    position: fixed;
    bottom: 0;
    left: 10px;
    background-color: #e4872c;
    color: white;
    padding: 11px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.badge-rectangle span:last-child {
    margin-top: 5px;
}

.badge-rectangle img {
    position: absolute;
    top: -7px;
    right: -1px;
    height: 11px;
}



p1, p2, p3 {
    color: #a1a1a1;
}

h4 {
    color: white;
}

h3 {
    color: white;
    font-size: 20px;
    font-family: Arial;
}
